/* comentario en sass y css */
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #ffcd08;
  background: linear-gradient(0deg, rgba(255, 205, 8, 0.878589) 0%, #001209 15%, black 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: system-ui, sans-serif; }

header {
  width: 100%;
  color: white;
  border-bottom: 1px solid black; }
  header nav {
    max-width: 1000px; }
    header nav div div .navbar-nav .nav-link.show {
      color: white; }
    header nav div div .navbar-nav li .nav-link {
      color: white;
      opacity: 0.8;
      font-size: 1.2rem; }
      header nav div div .navbar-nav li .nav-link:hover {
        opacity: 1;
        color: white; }
  header div .navbar-brand {
    height: 100px;
    margin: 0; }
    header div .navbar-brand .logo {
      height: 100%;
      width: 80%; }
  header div .navbar-toggler {
    background-color: #d9d9d9;
    font-size: 1rem; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }

@media (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header nav div div ul {
      gap: 3rem; } }

.main-index {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.main-index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0; }
  .main-index-container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 1.7rem;
    font-size: 1.1rem; }
    .main-index-container div strong {
      font-weight: bold;
      font-size: 2rem; }
      .main-index-container div strong h1, .main-index-container div strong h2 {
        font-weight: bold;
        font-size: 2rem; }
  .main-index-container img {
    width: 90%;
    border-radius: 15px;
    padding: .5rem;
    border: 1px solid #f8e21ac7;
    opacity: .8; }
    .main-index-container img:hover {
      opacity: 1; }

@media (min-width: 992px) {
  .main-index-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px; }
    .main-index-container img {
      order: 2;
      width: 100%; }
    .main-index-container div {
      width: 45%;
      order: 1; } }

.main-modos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .main-modos .main-modos-container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem; }
    .main-modos .main-modos-container section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      width: 100%;
      max-width: 1000px; }
      .main-modos .main-modos-container section h2, .main-modos .main-modos-container section h3, .main-modos .main-modos-container section h4 {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .main-modos .main-modos-container section img {
        width: 90%;
        border-radius: 15px;
        padding: .5rem;
        border: 1px solid goldenrod;
        opacity: .8; }
        .main-modos .main-modos-container section img:hover {
          opacity: 1; }

@media (min-width: 768px) {
  .main-modos .main-modos-container section {
    display: grid;
    grid-template-areas: "img title title" "img text text";
    text-align: left;
    gap: 1.5rem; }
    .main-modos .main-modos-container section h2, .main-modos .main-modos-container section h3, .main-modos .main-modos-container section h4 {
      grid-area: title;
      width: 100%; }
    .main-modos .main-modos-container section img {
      grid-area: img;
      width: 100%; }
    .main-modos .main-modos-container section p {
      grid-area: text;
      width: 100%; } }

.main-campeones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem; }
  .main-campeones .main-campeones-container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1200px; }
    .main-campeones .main-campeones-container div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      opacity: .8; }
      .main-campeones .main-campeones-container div img {
        border-radius: 10px; }
      .main-campeones .main-campeones-container div strong {
        background-color: aqua;
        width: 100%;
        font-style: italic;
        padding: .3rem .5rem;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        position: absolute;
        bottom: 0;
        border-radius: 0px 0 10px 10px; }
      .main-campeones .main-campeones-container div:hover {
        text-align: center;
        opacity: 1; }

#botonarriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px; }

form {
  color: #fae315;
  margin: 2px;
  padding: 10px; }

body {
  background-color: linear-gradient(0deg, rgba(255, 205, 8, 0.878589) 0%, #001209 15%, black 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  margin-top: auto; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  border-top: 1px solid black;
  color: black;
  font-weight: bold; }
  footer .redes-sociales {
    display: flex;
    gap: 1rem; }
    footer .redes-sociales img {
      width: 40px; }
      footer .redes-sociales img:hover {
        border: 1px solid goldenrod;
        border-radius: 50%;
        padding: -2px; }
  footer .riot-logohover {
    background-color: white; }
