

form{
    color:rgb(250, 227, 21) ;
    margin: 2px;
    padding: 10px;
}
body{
    background-color: linear-gradient(0deg, rgba(255,205,8,0.8785889355742297) 0%, rgba(0,18,9,1) 15%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    margin-top: auto;
}